<%= render "shared/navbar"%>

<% if user_signed_in? %> 

  <div class= "container">
    <h3> Welcome <%= current_user.name %> </h3>
    <h4> You are <%= current_user.role %> </h4>
    <h5> Here are all your posts </h5>
  </div> 


  <div class="container d-flex justify-content-evenly">

    <%- @posts.each do |post|%>
    <div class="card p-2 mr-4 shadow-lg" style="width: 18rem;">

      <%if post.post_file.attached?%>
        <img src="<%= (url_for(post.post_file)) %>">
      <%end%>

      <div class="card-body ">    
        <p class="p-3 mb-2 bg-light text-dark card-text"><%= post.body%></p>
        <h5><%= link_to "Show.... ", post_path(post), style:"color:black;" %></h5>
        <%= link_to "Delete Post", post, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
      </div>

    </div>
    <%end%>

  </div>

<%end%>
